.container {
    border: 1px black solid;
    margin-left: 25%;
    margin-right: 35%;
    height: 100%;
}

.fondoCasete {
    border: 1px bisque solid;
    background-color: bisque;
    width: 99.7%;
    height: 98.4%;
    margin-top: 13px;
    margin-left: 0px;
}

.casete {
    border: 1px rgb(30, 180, 43) solid;
    border-radius: 8px;
    background-color: rgb(30, 180, 43);
    width: 94.6%;
    height: 97%;
    margin-top: -1px;
    margin-left: 20px;
}

#cancion {
    border: 1px green solid;
    border-radius: 8px;
    background-color: green;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
}

img {
    border: 12px rgb(1, 75, 1) solid;
    width: 43%;
    height: 29%;
    margin-left: 27%;
    border-radius: 50%;
}

h1, h2, p {
    text-align: center;
    color: white;
}

.flex {
    display: flex;
    text-align: center;
    border: 1px black solid;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30%;
}

#skip-previous-icon {
    font-size: 60px;
    margin-left: 25%;
    margin-top: 10%;
}

#skip-next-icon {
    font-size: 60px;
    margin-left: 7%;
    margin-top: 10%;
  }

#play-icon{
    font-size: 120px;
    margin-left: 7%;
    margin-top: 7%;
}

#pause-icon{
    font-size: 120px;
    margin-left: -17%;
    margin-top: 7%;
}

#skip-previous-icon:hover {
    color: blue;
  }

#skip-next-icon:hover {
    color: blue;
  }

#play-icon:hover {
    color: blue;
  }

#pause-icon:hover {
    color: blue;
  }

.flex2 {
    margin-left: -41.5%;
    margin-top: 30%;
}

.input {
    margin-top: 3px;
}